<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.unb.fórum_de_coordenadores_deg_unb">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Fórum de Coordenadores DEG UnB">
	</application>
</manifest>
